<div class="content-wrapper">
    <div class="content">

        <div class="card" *ngIf="mapping">
            <section class="inset-small">

                <h6>{{mapping.id}}</h6>
                <h1>{{'general.edit'|translate}}</h1>


                <form [formGroup]="form" novalidate (ngSubmit)="save()">
                    <div class="grid gutter">
                        <div class="col-4 col-sm-12">
                            <input-component label="mappings.displayName" [errors]="form.controls.displayName.errors"
                                             [control]="form.controls.displayName">
                                <input type="text" formControlName="displayName">
                            </input-component>
                        </div>
                        <div class="col-8 col-sm-12">
                            <input-component label="mappings.description" [errors]="form.controls.description.errors"
                                             [control]="form.controls.description">
                                <textarea formControlName="description" rows="1">
                                </textarea>
                            </input-component>
                        </div>
                        <div class="col-2 col-sm-12">
                            <input-component label="mappings.method" [errors]="form.controls.method.errors"
                                             [control]="form.controls.method">

                                <select formControlName="method">
                                    <option disabled selected value>{{'mappings.method-hint'|translate}}</option>
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                    <option value="DELETE">DELETE</option>
                                    <option value="HEAD">HEAD</option>
                                    <option value="OPTIONS">OPTIONS</option>
                                    <option value="TRACE">TRACE</option>
                                    <option value="PATCH">PATCH</option>
                                    <option value="COPY">COPY</option>
                                    <option value="LINK">LINK</option>
                                    <option value="UNLINK">UNLINK</option>
                                    <option value="PURGE">PURGE</option>
                                    <option value="LOCK">LOCK</option>
                                    <option value="UNLOCK">UNLOCK</option>
                                    <option value="DEBUG">DEBUG</option>
                                    <option value="VIEW">VIEW</option>
                                </select>
                            </input-component>
                        </div>
                        <div class="col-10 col-sm-12">
                            <input-component label="mappings.path" [errors]="form.controls.path.errors"
                                             [control]="form.controls.path">
                                <input type="text" formControlName="path"
                                       placeholder="{{'mappings.path-hint'|translate}}">
                            </input-component>
                        </div>
                        <div class="col-12">
                            <input-component label="mappings.script" [errors]="form.controls.script.errors"
                                             [control]="form.controls.script">
                                <textarea formControlName="script" rows="10"
                                          placeholder="{{'mappings.script-hint'|translate}}">
                                </textarea>
                            </input-component>
                        </div>
                        <div class="col-12">
                            <button class="btn button-primary" [disabled]="!form.valid">{{'general.save'|translate}}
                            </button>
                        </div>

                    </div>

                </form>
            </section>
        </div>
    </div>
</div>