<div class="header shadow-below background-dark">
    <div class="content-wrapper">
        <nav class="navbar-dark navbar">
            <img src="images/computer.png" style="height:40px; margin: 0 10px; padding:0">
            <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/']">
                <b>Angular</b> Demo Project
            </a>

            <a class="nav-item hide-sm-down" [routerLink]="['/welcome']"><i class=" fa fa-home" aria-hidden="true"></i>
                <span class="hide-md-down"> {{'menu.welcome'|translate}}</span>
            </a>
            <a class="nav-item hide-sm-down" [routerLink]="['/movies']"><i class="fa fa-film" aria-hidden="true"></i>
                <span class="hide-md-down"> {{'menu.movies'|translate}}</span>
            </a>
            <a *ngIf="applicationService.isLoggedIn()" class="nav-item hide-sm-down" [routerLink]="['/changes']"><i
                    class="fa fa-commenting-o" aria-hidden="true"></i>
                <span class="hide-md-down"> {{'menu.changes'|translate}}</span>
            </a>
            <a *ngIf="applicationService.isLoggedIn()" class="nav-item hide-sm-down" [routerLink]="['/calendar']"><i
                    class="fa fa-calendar" aria-hidden="true"></i>
                <span class="hide-md-down"> {{'menu.calendar'|translate}}</span>
            </a>

            <div class="pull"></div>
            <messages-menu class="nav-group"></messages-menu>
            <lang-menu class="nav-group hide-sm-down"></lang-menu>
            <user-menu class="nav-group hide-xs-down"></user-menu>


            <div class="display-sm-down popup popup-menu-left"><i class="fa fa-bars"></i>
                <ul class="list">
                    <li>
                        <lang-menu></lang-menu>
                        <user-menu></user-menu>
                    </li>
                    <a [routerLink]="['/welcome']">
                        <li>
                            <i class=" fa fa-home" aria-hidden="true"></i> {{'menu.welcome'|translate}}
                        </li>
                    </a>
                    <a [routerLink]="['/movies']">
                        <li>
                            <i class="fa fa-film" aria-hidden="true"></i> {{'menu.movies'|translate}}
                        </li>
                    </a>
                    <a *ngIf="applicationService.isLoggedIn()" [routerLink]="['/changes']">
                        <li>
                            <i class="fa fa-commenting-o" aria-hidden="true"></i> {{'menu.changes'|translate}}
                        </li>
                    </a>
                    <a *ngIf="applicationService.isLoggedIn()" [routerLink]="['/calendar']">
                        <li>
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{'menu.calendar'|translate}}
                        </li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
</div>
<loading style="position: fixed; top: 0; height: 5pt; z-index: 999;"></loading>


